body {
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
}

#parallaxContainer {
    width: 1000px;
    height: 1000px;
	overflow: hidden;
    position: relative;
    border: #333333 3px solid;
}

.parallaxObject {
  position: absolute;
   opacity: 0.5;
}

A:link { color: #efefef; text-decoration: none}
A:visited{color: #efefef; text-decoration:none}
A:active{text-decoration:none}
a:hover{text-decoration:underline}
:focus { outline: none };