body { background-color: #000000; }
#container {
	/*text-align: center;*/
	/*margin: 0 auto;*/
}

A:link { color: #DD00FF; text-decoration: none}
A:visited{text-decoration:none}
A:active{text-decoration:none}
a:hover{text-decoration:underline}
:focus { outline: none };